/* Additional styles for QBI reports */
.resultsheader{
	padding: 6px 8px;
	font-weight: bold;
	background: none repeat scroll 0% 0% #1A75BB;
	color: #FFF;
	font-size: 1.1em;
}
.resultstable th{
	width:45%;
}

#EditForm label{
	width:20%;
}