irc5-samples-plugin/.idea/
irc5-samples-plugin/build/
irc5-samples-plugin/.gradle/
irc5-demographics-plugin/.idea/
irc5-demographics-plugin/build/
irc5-demographics-plugin/.gradle/
opex-plugin/.idea/
opex-plugin/build/
opex-plugin/.gradle/
*.jar
*.bin
*.lock
*~
