/* Additional styles for QBI reports */
.resultsheader{
	padding: 6px 8px;
	font-weight: bold;
	background: none repeat scroll 0% 0% #1A75BB;
	color: #FFF;
	font-size: 1.1em;
}
.resultstable th{
	width:45%;
}

#EditForm label{
	min-width:20%;
}
h3.reportheader{
	margin-bottom:10px;
	margin-top:10px;
}
/* OVERRIDE THE ACTIONS MENU */
.qbiactions #actionsMenu{
	margin-left:-10px !important;
	margin-top:10px !important;
}
#projectSummary{
	margin-right: 15px;
}
.expt_row{
	width: 100%;
    float: left;
}
#search_selector{
	color:black !important;
}

#tubes .form-control{
	width:100% !important;
}

/* Override app.css*/
.btn, .btn2, body button, body [type="button"], body [type="reset"] {
	background: #5bc0de !important;

}

#qbidemographics{
	float:left;
}