<!DOCTYPE html>
    $page.setTitle("OPEX Multiplex Blood Sample")
    $page.setLinkColor($ui.alink)
    $page.setVlinkColor($ui.vlink)
##----------------------------------------
## MODIFIED FOR BOOTSTRAP - QBI - e.cooperwilliams@uq.edu.au
##
##----------------------------------------
    #set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October",
        "November", "December"])
    #set($days = [ 1..31 ])
    #set($years = [ $!turbineUtils.getYear()..1900])
<script type="text/javascript">
    window.currentID = "$!om.getId()";
        #if($om.getProject())
            #if($om.getProject().equals(""))
            window.currentProject = "$!project";
            #else
            window.currentProject = "$!om.getProject()";
            #end
        #else
        window.currentProject = "$!project";
        #end

    window.currentSubject = "$!om.getSubjectId()";
    window.currentLabel = "$!om.getLabel()";
</script>
#if ($data.message)
<div class="alert alert-danger error"><span>$data.message</span></div>
#end
<div id="EditForm" class="container">
    <form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
        <input type="hidden" name="project" value="$!{project}">
        <input type="hidden" name="part_id" value="$!{part_id}">
        <input type='hidden' name='$om.getXSIType()/ID' value='$!item.getProperty("ID")'/>
        <input type="hidden" name="$om.getXSIType()/project" value='$!{project}'/>
        <input type='hidden' name='$om.getXSIType()/subject_ID' value='$!item.getProperty("$om.getXSIType()/subject_ID")'/>
        <input type="hidden" name="$om.getXSIType().date.month" id="$om.getXSIType().date.month" value=""/>
        <input type="hidden" name="$om.getXSIType().date.date" id="$om.getXSIType().date.date" value=""/>
        <input type="hidden" name="$om.getXSIType().date.year" id="$om.getXSIType().date.year" value=""/>
        #if($vr)
            <div class="alert alert-danger">Invalid parameters:<br/>$vr.toHTML()</div>
        #end
        <h2 class="edit-title">OPEX Multiplex Blood Sample #if($om.getId()) : Edit #else  : Create #end</h2>
        <div class="row">
            #parse("/screens/xnat_edit_subjectAssessorData.vm")
        </div>
        <div class="row">
            #parse("/screens/EditProjectSpecificFields.vm")
        </div>
        <table class="table table-striped">
            <tbody>
            <TR>
                <TD>Date analysed</TD>
                <TD>#xdatDateBox("opex:bloodMultiplexData/date_analysed" $item $vr $years)</TD>
            </TR>
            <TR>
                <TD>Interval</TD>
                <TD>#xdatTextBox("opex:bloodMultiplexData/interval" $item "" $vr)</TD>
            </TR>
            <TR>
                <TD>Pre or post</TD>
                <TD>#xdatStringBox("opex:bloodMultiplexData/prepost" $item "" $vr)</TD>
            </TR>
            <TR>
                <TD>Sample ID</TD>
                <TD>#xdatStringBox("opex:bloodMultiplexData/sample_id" $item "" $vr)</TD>
            </TR>
            <TR>
                <TD>Sample</TD>
                <TD>#xdatStringBox("opex:bloodMultiplexData/sample_num" $item "" $vr)</TD>
            </TR>
            <TR>
                <TD>Collection date</TD>
                <TD>#xdatDateBox("opex:bloodMultiplexData/date" $item $vr $years)</TD>
            </TR>

            <TR>
                <TD>GH</TD>
                <TD>#xdatTextBox("opex:bloodMultiplexData/GH" $item "" $vr)</TD>
            </TR>
            <TR>
                <TD>Leptin</TD>
                <TD>#xdatTextBox("opex:bloodMultiplexData/Leptin" $item "" $vr)</TD>
            </TR>
            <TR>
                <TD>BDNF</TD>
                <TD>#xdatTextBox("opex:bloodMultiplexData/BDNF" $item "" $vr)</TD>
            </TR>
            <TR>
                <TD>IGFBP7</TD>
                <TD>#xdatTextBox("opex:bloodMultiplexData/IGFBP7" $item "" $vr)</TD>
            </TR>
            <TR>
                <TD>IL1</TD>
                <TD>#xdatTextBox("opex:bloodMultiplexData/IL1" $item "" $vr)</TD>
            </TR>
            <TR>
                <TD>IL4</TD>
                <TD>#xdatTextBox("opex:bloodMultiplexData/IL4" $item "" $vr)</TD>
            </TR>
            <TR>
                <TD>IL6</TD>
                <TD>#xdatTextBox("opex:bloodMultiplexData/IL6" $item "" $vr)</TD>
            </TR>
            <TR>
                <TD>IL10</TD>
                <TD>#xdatTextBox("opex:bloodMultiplexData/IL10" $item "" $vr)</TD>
            </TR>
            </tbody>
        </table>

        <!-- BEGIN opex:bloodMultiplexData -->

        <!-- BEGIN opex:bloodMultiplexData/fields/field -->
        <h3>Extra fields</h3>
        <table class="table table-striped">

            <TR>
                <TD>field</TD>
                <TD>name</TD>
            </TR>
            #foreach($xnat_experimentData_field_4_COUNTER in [0..5])
                <TR>
                    <TD>#xdatTextBox(
                        "opex:bloodMultiplexData/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item
                        "" $vr)</TD>
                    <TD>#xdatTextBox(
                        "opex:bloodMultiplexData/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item
                        "" $vr)</TD>
                    #xdatHiddenBox(
                        "opex:bloodMultiplexData/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item
                        "")
                </TR>
            #end
        </table>

        <!-- END opex:bloodMultiplexData/fields/field -->

        <!-- END opex:bloodMultiplexData -->
        <div>
            #xdatEditProps($item $edit_screen)
            <input type="button" ONCLICK="validateForm();" name="eventSubmit_doInsert" value="Submit"/>
        </div>

    </form>

    <script type="text/javascript">
        function validateForm() {
            //INSERT CUSTOM CONTENT HERE

            validateSubjectAssessorForm();
            return false;
        }
    </script>
